nav {
    z-index: 9999;
    padding: 20px;
    backdrop-filter: blur(15px) !important;
    background-color: #1b1a2ea9;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: large;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Default Desktop Styles */
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}

li > a {
    text-decoration: none;
    color: white;
}

li > a:hover {
    text-decoration: underline;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #1b1a2e;
        flex-direction: column;
        align-items: center;
        display: none;
        gap: 20px;
        padding: 20px 0;
    }

    .nav-links.open {
        display: flex;
    }

    li > a {
        font-size: 18px;
    }
}

body {
    padding-top: 80px;
}
